body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: auto;
    font-size: 36px;
}


.label{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

button{
    font-size: 48px;
}
.cookie {
    padding: 20px;
    place-items: center;
    background-color: beige;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    
}
.cookie button{
    background-color: brown;
    font-size: 64px;
    border: 5px;
    border-radius: 20%    


}

.shop{
    padding: 20px;
    background-color: black;
}